body {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-top: 0px;
}
.offline-ui {
    z-index: 100000;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.panel  {
    margin-bottom: 10px;
}
.panel-heading{

}
.pull-right {
    padding-right: 0px;
}
.btnupload {
    background: url("uploadbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
    margin-left: 5px;
}
.btndownload {
    background: url("downloadbtn.jpg") no-repeat;
    width: 89px;
    height: 32px;
    margin-left: 5px;
}
.btnlogout {
    background: url("logoutbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
    margin-left: 5px;
}
.btnlogin {
    background: url("loginbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
}

.dropdown-toggle{
    margin-top: 4px;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        padding-left: 10px;
    }
    .ngscope {
        padding: 0px;
    }
}


@media (min-width: 768px) {
    .container {
        width: 100%;
        padding-left: 10px;
    }
    .ngscope {
        padding: 0px;
    }
}
   .col-sm-12 {
       padding: 0px;
   }
}
.pa
.bd {background-image:url('images/index_bg.png');
    width: 1000px;
    height: 1000px;
     background-repeat:no-repeat}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
}
 
/* Set width on the form input elements since they're 100% wide by default */
input {
    max-width: 300px;
    max-height: 500px;
}
select,
textarea {
    /*max-width: 1080px;*/
    max-height: 200px;
}
input.form-control-search {
    width: 150px;
    height: 34px;
}

textarea.form-control-small {
    height: 50px;
    width: 100%;
}
form.form-horizontal {
    padding-left: 15px;
    padding-right: 15px;
}
textarea.form-control-medium {
    height: 355px;
    width: 100%;
} 
textarea.form-control {
    height: 1080px;
}
.navbar {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 6px;
    padding-right: 15px;
    -webkit-box-shadow: 0 0 5px 2px #ccc;
    box-shadow: 0 0 5px 2px #ccc;
}
 
.navbar .logo {
        margin-right: 15px;
}

.navbar-collapse  {
    padding: 0px;
}
.push-top-down-sm {
    margin-top: 1.5em;
}
 
.home-list-item {
    margin-top: 0em;
    margin-bottom: 0em;
    padding-bottom: 0em;
    border-bottom: 1px solid #eee;
    padding-left: 0px;
    padding-right: 0px;
}
.editwrapper{
    margin-top: 0px;
}
.main-wrapper{
    margin-top: 0px;
}
.offline-ui {
    z-index: 100000;
}
.navbar-fixed-top{
    padding-top: 5px;
}
#sync-container {
    position: fixed;
    bottom: 25px;
    width: 350px;
    left: 15px;
    z-index: 10000;
}

.col-md-1{
    vertical-align: middle;
}
.col-md-12{
    padding-left: 10px;
    padding-right: 10px;
}
#tfheader{
        background-color:#c3dfef;
    }

#tfnewsearch{
        float:right;
        padding:20px;
    }

.tftextinput2{
        margin: 0;
        padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:14px;
        color:#666;
        border:1px solid #0076a3; border-right:0px;
        border-top-left-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
    }

.tfbutton2 {
        margin: 0;
        padding: 5px 7px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:bold;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        border: solid 1px #0076a3; border-right:0px;
        background: #0095cd;
        background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
        background: -moz-linear-gradient(top,  #00adee,  #0078a5);
        border-top-right-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
    }

.tfbutton2:hover {
        text-decoration: none;
        background: #007ead;
        background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
        background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    }

/* Fixes submit button height problem in Firefox */
.tfbutton2::-moz-focus-inner {
      border: 0;
    }

.tfclear{
        clear:both;
    }

.alert-success{
    margin-top: 100px;
}
.main-alert{
    max-width: 400px;
    margin: 0 auto;
}

.alert-hidden{
    visibility: hidden;
}

.alert-info{
    /*padding-top: 1px;
    margin: 0px;*/
}

.editimagelist{
    max-width:100%;
}


 div.upload {
    width: 25px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
}

div.upload input {
    display: block !important;
    width: 25px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}




.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    background-color: #BDBDBD;
    height: 200px;
    width: 200px;
    text-align: center;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
    text-align: center;
}
.custom-span{ font-family: Arial; font-weight: bold;font-size: 100px; color: #FE57A1}
#uploadFile{border: none;margin-left: 10px; width: 200px;}
.custom-para{font-family: arial;font-weight: bold;font-size: 24px; color:#585858;}

























.dropdown-menu>li
{   position:relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-color:#fff;
    box-shadow:none;
}
.right-caret:after
 {  content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}
.left-caret:after
{   content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid orange;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}