<div class="container" data-ng-controller="editController">

    <div class="alert alert-success" data-ng-show="showSuccessMessage">
        <strong>Success!</strong> item saved.
    </div>

    <div class="editwrapper" data-ng-show="showFillOutFormMessage">
        <div class="alert alert-info">
            <strong>Note:</strong> You need to fill out form title before attempting to save a new item.
        </div>
    </div>




        
    <div class="editwrapper" data-ng-hide="showFillOutFormMessage">
    </div>

    <div class="row main-wrapper" data-ng-hide="showSuccessMessage">
        <div class="col-sm-12">
            <form class="form-horizontal" role="form">
                <div>
                    <div style="float: left; width: 100%;">
                        <div class="form-group">
                        <!--
                        <label for="Contents" class="col-sm-2 control-label">Title</label>
                            -->
                            <div class="col-sm-12">
                                <label for="title">Title</label>
                            </div>
                            <div class="col-sm-12">
                                <textarea data-ng-model="item.title"
                                          name="title"
                                          id="title"
                                          class="form-control-small"
                                          placeholder="Item Title"></textarea>
                            </div>
                        </div>



                        <div class="form-group">
                        <!--
                        <label for="Contents" class="col-sm-2 control-label">Short Description</label>
                            -->
                            <div class="col-sm-12">
                                <label for="introduction">Short Description</label>
                            </div>
                            <div class="col-sm-12">
                                <textarea data-ng-model="item.introduction"
                                          name="introduction"
                                          id="introduction"
                                          class="form-control-medium"
                                          placeholder="Short Description"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                        <!--
                        <label for="Contents" class="col-sm-2 control-label">Contents</label>
                            -->
                            <div class="col-sm-12">
                                <label for="content">Contents</label>
                            </div>
                            <div class="col-sm-12">
                                <textarea data-ng-model="item.content"
                                          name="content"
                                          id="content"
                                          class="form-control"
                                          placeholder="Contents"></textarea>
                            </div>
                        </div>

                    </div>
                    <!--
                    <div style="float: left; width: 50%;">
                    </div>
                    -->
                </div>




                <div class="form-group" >
                    <div class="col-sm-12" align="center">
                        <input type="reset" data-ng-click="cancel()" value="Cancel" class="btn btn-link"/>
                        <input type="button" data-ng-click="save()" value="Save" class="btn btn-default btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>