<div class="jumbotron text-center" ng-if="!main.loggedIn">
	<div>
		<p>Login to the system</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>
</div>

<div data-ng-hide="showList" align="center">
    <img src="/images/loader.gif" alt="loading..." title="loading..." />
</div>
<div data-ng-hide="showList">
	<div class="alert alert-{{alert.type}} animated main-alert" ng-class="{'flipInY':alert.show, 'flipOutY':!alert.show, 'alert-hidden':!alert.hasBeenShown}"><strong>{{alert.title}}</strong>
		{{alert.message}}
	</div>
</div>
<div class="editwrapper" ng-if="main.loggedIn">
</div>
<div class="row main-wrapper" ng-if="main.loggedIn">
	<div class="col-md-12">
        <div class="row home-list-item" data-ng-repeat="story in stories">
            <div ng-if="story.isDeleted === true" class="panel panel-danger">
                <div class="panel-heading">
                    <a data-ng-href="/view/{{story._id}}" class="panel-title">{{story.title}}</a>
                </div>
                <div class="panel-body">
                    <p ng-bind-html="story.introduction">{{story.introduction}}</p>
                    <p>
                        on {{story.modified.toLocaleString()}}
                    </p>
                    <a data-ng-href="/edit/{{story._id}}" class="btn btn-default">Edit</a>
                </div>

            </div>

            <div ng-if="story.isDeleted === false || story.isDeleted === undefined" class="panel panel-primary">
                <div class="panel-heading">
                    <a data-ng-href="/view/{{story._id}}" class="panel-title">{{story.title}}</a>
                </div>
                <div class="panel-body">
                    <p ng-bind-html="story.introduction">{{story.introduction}}</p>
                    <p>
                        on {{story.modified.toLocaleString()}}
                    </p>
                    <button class="btn btn-link" data-ng-controller="syncController" data-ng-click="deleteStory($index)">Delete</button>
                    <a data-ng-href="/edit/{{story._id}}" class="btn btn-default">Edit</a>
                </div>
            </div>
        </div>
	</div>
</div>