<div class="container" ng-controller="UserCreateController as user">
	<form class="form-signin" method="post" ng-submit="user.signupUser()">
		Name: <input type="text" name="name" class="form-control" ng-model="user.userData.user">

		Username: <input type="text" name="username" class="form-control"  ng-model="user.userData.username">

		Password: <input type="password" name="password" class="form-control" ng-model="user.userData.password">

		<button type="submit" class="btn btn-danger">Signup</button>
	</form>
</div>