<div data-ng-show="postingweibo">
    <div class="alert alert-{{alert.type}} animated main-alert" ng-class="{'flipInY':alert.show, 'flipOutY':!alert.show, 'alert-hidden':!alert.hasBeenShown}"><strong>{{alert.title}}</strong>
        {{alert.message}}
    </div>
</div>

<div class="container" data-ng-controller="viewController">
        <div class="editwrapper">
        </div>
        <div class="main-wrapper col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h1 ng-bind-html="item.title" class="panel-title pull-left"></h1>
                    <div class="btn-group pull-right">
                        

                    
                                <button class="btnweibo" data-ng-hide="item.weiboid > 0" ng-click="sendtoweibo()"></button>   
                    
                    
                                <!--data-ng-show="item.weiboid > 0"-->
                                <button class="btn btn-danger" data-ng-show="item.weiboid > 0" data-ng-click="deletefromweibo()" type="button">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>                            
                    
                    
                    </div>
                    
                </div>
                <div class="panel-body">

                    <p>
                        on {{item.modified.toLocaleString()}}
                    </p>
                    <!--
                    <button class="btn btn-link" data-ng-click="delete($index)">Delete</button>
                    <a data-ng-href="/items/edit/{{item.ItemId}}" class="btn btn-default">Edit</a>
                    -->
                    <p ng-bind-html="item.content">{{item.content}}</p>

                    <a data-ng-href="/edit/{{item._id}}" class="btn btn-default">Edit</a>
                    <p></p>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="sendbyemail()">Send...</button>


                    <div class="modal fade" id="emailModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Send this story by email</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea data-ng-model= "viewController.recipients"
                                              name="recipients"
                                              id="recipients"
                                              class="form-control-small"
                                              placeholder="recipients"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                    <button type="button" class="btn btn-default" data-ng-click="sendbyemail()">Send</button>
                                </div>
                            </div>
                          
                        </div>
                    </div>                    
                    <p></p>
                    <div class="container" ng-repeat="image in item.images">
                        <div class="row">
                            <div class="col-md-1">                           
                                <button class="btnweibo" ng-click="sendtoweibo($index)"></button>   
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-danger" data-ng-show="hasWeiboid($index)" data-ng-click="deletefromweibo($index)" type="button">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>                            
                            </div>
                        </div>
                        <p/>
                        <p/>
                        <div class="row">   
                            <div class="col-md-12">
                                <img class="editimagelist" ng-src="{{image.data}}">
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>