    <!-- Filter the Products   -->
    <div class='panel-body'>


        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class="col-md-12">
                <div *ngFor='let story of _storyService.stories | storyFilter:_storyService.listFilter' class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a [routerLink]="['/story', story._id]">
                            {{story.title}}
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{story.content}}
                        <p>
                        {{story.updated}}
                        </p>
                    </div>
                </div>
        </div>
    </div>
