thead {
    color: #337AB7;
}

.btnweibo {
    background: url("weibo.jpg") no-repeat;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-size: 100%;
}
.btnupload {
    background: url("uploadbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
    margin-left: 5px;
}
.btndownload {
    background: url("downloadbtn.jpg") no-repeat;
    width: 89px;
    height: 32px;
    margin-left: 5px;
}
.btnlogout {
    background: url("logoutbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
    margin-left: 5px;
}
.btnlogin {
    background: url("loginbtn.jpg") no-repeat;
    width: 90px;
    height: 32px;
}